html {
  background: url('confetti_death.jpeg') no-repeat center center fixed;
  background-position: bottom;
  -webkit-background-height: 150%;
  -moz-background-height: 150%;
  -o-background-height: 150%;
  -webkit-background-width: 100%;
  -moz-background-width: 100%;
  -o-background-width: 100%;
  background-size: 100% 98%;
  margin-top: 140px;
}

body {
  /*margin-top: 90px;*/
  background: url('iridescent.jpeg')
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    -moz-border-radius: 10px 10px 40px 40px;
    -webkit-border-radius: 10px 10px 40px 40px;
    border-radius: 10px 10px 80px 80px;
}

.region-sidebar-first {
  background-color: #222;
  border-color: #080808;
}

.btn-primary {
  background-color: #290066;
}

img {
  image: url('sites/all/themes/Guava/css/Zava.png')
}

p {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

span {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img-responsive {
  display: block;
  margin: 0 auto;
}

.active-trail {
  background-color: transparent;
}

h1 {
  color: #d6f5f5;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

h2 {
  color: #d6f5f5;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

h3 {
  color: #d6f5f5;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

a {
  color: #fc7702;
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}

dt {
  color: #d6f5f5;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

li {
  text-align: center;
  list-style: none;
  list-style-position: inside;
}

ul, menu, dir {
  text-align: center;
  list-style: none;
  list-style-position: inside;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

div.field-label {
  color: lightgrey;
  font-size: 2em;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

div.field-item.even {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
  color: white;
}

.not-front {
  margin-top: 100px;
  background: url('iridescent.jpeg')
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 95%;
    opacity: 1;
    border-radius: 80px;
    overflow: hidden;
}

div.row {
  text-align: center;
  image-o
}

.navbar-brand{
  float: right;
  color: #88ff4d;
}
.navbar-header {
  opacity: 100%;
}

div.navbar-header {
  opacity: 1;
}
.footer {
  text-align: center;
}

.highlighted {
  text-align: center;
}
